{% extends "base.html" %}
{% block content %}
<br>
<div class="about-container">
    <br>
    <h2>À propos de UNILyse</h2>
    <p style="font-size: 18px; text-align: justify;">Bienvenue sur UNILyse,<br>
        <br>Plateforme dédiée à la collecte et à la consultation des évaluations de cours de l’Université de Lausanne (UNIL).
        Le but de UNILyse est de permettre aux étudiants d'accéder facilement aux informations concernant les cours proposés à l'UNIL 
        et de donner leur avis en évaluant ceux auxquels ils ont participé. Grâce à vos contributions, l'application centralise les évaluations et 
        permet à tous d'avoir une vue d'ensemble sur le choix de son cursus.<br>
        <br>
        Les évaluations sont sous pseudonymes et sont mises à jour régulièrement afin de refléter l'évolution des avis au fil du temps. 
        Cela permet d’avoir une vision toujours actuelle des cours proposés.<br>
        <br>
        UNILyse est un projet développé par des étudiant·x·e·s de l'UNIL, pour les étudiant·x·e·s de l'UNIL.
        </p>
</div>
<br>
<h2 class="faq-title">FAQ</h2>
<br>
<button class="accordion-faq">Pourquoi évaluer sur UNILyse ?</button>
    <div class="panel-faq">
        <p>Au début de chaque semestre, les groupes de discussion des étudiant·x·e·s sont inondés de questions du type : « Le cours xxx est-il bien ? ». 
            Malheureusement, les réponses se perdent rapidement dans le flot de nouvelles questions. Fouiller l’historique des conversations ou recevoir 
            quelques avis vagues n’est pas la manière la plus efficace de s’informer.<br> 
            <br>
            C’est pourquoi nous avons créé UNILyse : pour centraliser les retours des étudiant·x·e·s et les rendre facilement accessibles.<br> 
            <br>
            Contrairement aux évaluations officielles demandées par les enseignants de l’UNIL, notre plateforme n’a pas pour objectif d’améliorer les cours, 
            mais plutôt d’aider les étudiant·x·e·s à faire des choix éclairés. Bien que ces deux démarches soient complémentaires, l’approche d’UNILyse est centrée 
            sur l’expérience et les besoins des étudiants.</p>
    </div>
<button class="accordion-faq">Comment je peux aider à améliorer UNILyse ?</button>
    <div class="panel-faq">
        <p>- En donnant votre avis sur les cours que vous suivez tout simpltement ! <br>
            - Vous pouvez également proposer et voter des améliorations dans la page "propositions".<br>
            - Ou, si vos moyens vous le permettent, il est aussi possible de faire un don afin de maintenir ce site en ligne, de payer le travail de maintenant ou de motiver des améliorations.</p>
    </div>
<button class="accordion-faq">Nous évaluons déjà nos enseignements en fin de semestre, pourquoi le refaie sur UNILyse ?</button>
    <div class="panel-faq">
        <p>Les évaluations encadrées par les enseignant·x·e·s ont pour but d'améliorer leur enseigment, notre but est différent.
            Le but d'UNILyse est d'aider les étudiant·x·e·s dans leur choix de cours en fonction de retours entre paires. 
            UNILyse n'a rien d'officiel et n'a aucun lien avec l'UNIL si ce n'est qu'il est maintenu et développé par des étudiant·x·e·s de l'UNIL.<br>
            <br>
            De plus, les évaluations officielles ne nous sont pas accessibles en tant qu'étudiant·x·e·s, elles sont uniquement utilisées par les enseignant·x·e·s.
            </p>
    </div>
<br>
<h2 class="contact-title">Contact</h2>
<br>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const accordions = document.querySelectorAll(".accordion-faq");

        accordions.forEach(accordion => {
            accordion.addEventListener("click", () => {
                accordion.classList.toggle("active");

                const panel = accordion.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        });
    });
</script>
{% endblock %}
