{% extends "base.html" %}
{% block content %}

    <div class="filter-row">
        <select id="filter-faculty" class="filter-row-item" data-filter="Faculté">
            <option value="">Faculté</option>
            {% for faculty in courses|map(attribute='Faculté')|unique %}
            <option value="{{ faculty }}">{{ faculty }}</option>
            {% endfor %}
        </select>
        <select id="filter-semester" class="filter-row-item" data-filter="Semestre">
            <option value="">Semestre</option>
            {% for semester in courses|map(attribute='Semestre')|unique %}
            <option value="{{ semester }}">{{ semester }}</option>
            {% endfor %}
        </select>
        <select id="filter-credits" class="filter-row-item" data-filter="credits">
            <option value="">Crédits</option>
            {% for credits in courses|map(attribute='Crédits')|unique %}
            <option value="{{ credits }}">{{ credits }}</option>
            {% endfor %}
        </select>
        <input type="search" id="search-bar" class="search-bar" placeholder="Rechercher un cours..." data-search="Nom">
        <button id="sort-global" class="sort-button" data-column="Moyenne_Globale" data-order="asc">Globale</button>
        <button id="sort-work" class="sort-button" data-column="Moyenne_Travail" data-order="asc">Travail</button>
        <button id="sort-difficulty" class="sort-button" data-column="Moyenne_Difficulté" data-order="asc">Difficulté</button>
        <button id="sort-interest" class="sort-button" data-column="Moyenne_Intérêt" data-order="asc">Intérêt</button>
    </div>

    <div id="course-tab">
        {% for course in courses %}
        <div class="course-container" 
             data-faculté="{{ course['Faculté'] }}" 
             data-semestre="{{ course['Semestre'] }}" 
             data-credits="{{ course['Crédits'] }}" 
             data-name="{{ course['Nom'] }}" 
             data-moyenne_globale="{{ course['Moyenne_Globale'] }}" 
             data-moyenne_travail="{{ course['Moyenne_Travail'] }}" 
             data-moyenne_difficulte="{{ course['Moyenne_Difficulté'] }}" 
             data-moyenne_interet="{{ course['Moyenne_Intérêt'] }}">
            <div class="course-card">
                <div class="faculty-container">
                    <p>{{ course['Faculté'] }}</p>
                </div>
                <div class="semester-container">
                    <p>{{ course['Semestre'] }}</p>
                </div>
                <div class="credits-container">
                    <p>{{ course['Crédits'] }}</p>
                </div>
                <div class="course-name-container">
                    <p><a href="{{ course['Lien'] }}" target="_blank">{{ course['Nom'] }}</a></p>
                </div>
                {% for metric, label in {'Moyenne_Globale': 'Globale', 'Moyenne_Travail': 'Travail', 'Moyenne_Difficulté': 'Difficulté', 'Moyenne_Intérêt': 'Intérêt'}.items() %}
                <div class="evaluation-box" 
                     data-value="{{ course[metric]|float|round(1) }}" 
                     data-evaluations="({{ course['Nombre_Evaluations'] }})">
                    <p>{{ course[metric]|float|round(1) }}/6{% if metric == 'Moyenne_Globale' %}<span>({{ course['Nombre_Evaluations'] }})</span>{% endif %}</p>
                </div>
                {% endfor %}
            </div>
            <div class="commentary-container">
                <p><strong>Enseignant·x·e·s :</strong> {{ course['Professeur'] }}</p>
                <div class="commentary-columns">
                    <!-- Colonne des commentaires généraux -->
                    <div class="general-comments" data-section="general-comments">
                        <h4>Commentaires généraux</h4>
                        <p class="no-comments-message">Pas de commentaire pour le moment 🙁</p>
                        {% for comment in course['Commentaires_Generaux'] %}
                        <div class="comment-card">
                            <div class="comment-body">
                            <p>{{ comment['Commentaires_Generaux'] }}</div>
                            <div class="comment-footer">
                                <span class="author">{{ comment['Auteur'] }}</span>
                                <span class="comment-date">{{ comment['Date'] }}</span>
                                <div class="reactions">
                                    <span>👍 {{ comment['Like'] }}</span>
                                    <span>👎 {{ comment['Dislike'] }}</span>
                                    <span>⚠️ {{ comment['Signalement'] }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Colonne des conseils d'étude -->
                    <div class="study-tips" data-section="study-tips">
                        <h4>Conseil d'étude</h4>
                        <p class="no-comments-message">Pas de commentaire pour le moment 🙁</p>
                        {% for comment in course['Commentaires_Conseils'] %}
                        <div class="comment-card">
                            <div class="comment-body">
                            <p>{{ comment['Commentaires_Conseils'] }}</div>
                            <div class="comment-footer">
                                <span class="author">{{ comment['Auteur'] }}</span>
                                <span class="comment-date">{{ comment['Date'] }}</span>
                                <div class="reactions">
                                    <span>👍 {{ comment['Like'] }}</span>
                                    <span>👎 {{ comment['Dislike'] }}</span>
                                    <span>⚠️ {{ comment['Signalement'] }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Colonne des détails d'évaluation -->
                    <div class="evaluation-details">
                        <h4>Détail évaluation</h4>
                        <p>À implémenter si nécessaire.</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const searchBar = document.getElementById("search-bar");
        const courseContainers = document.querySelectorAll(".course-container");

        searchBar.addEventListener("input", () => {
            const query = searchBar.value.toLowerCase();

            courseContainers.forEach(container => {
                const courseName = container.querySelector(".course-name-container a").textContent.toLowerCase();
                // Masquer ou afficher les conteneurs en fonction de la recherche
                container.style.display = courseName.includes(query) ? "block" : "none";
            });
        });

        const courseCards = document.querySelectorAll(".course-card");

        courseCards.forEach(courseCard => {
            courseCard.addEventListener("click", () => {
                const commentaryContainer = courseCard.nextElementSibling;

                if (commentaryContainer && commentaryContainer.classList.contains("commentary-container")) {
                    if (commentaryContainer.style.maxHeight) {
                        commentaryContainer.style.maxHeight = null;
                    } else {
                        commentaryContainer.style.maxHeight = commentaryContainer.scrollHeight + "px";
                    }
                }
            });
        });

        const courseData = JSON.parse('{{ courses|tojson|safe }}');
        const courseContainer = document.getElementById("course-tab");
        courseContainer.setAttribute("data-courses", JSON.stringify(courseData));
    });
</script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
